@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --amarelo: rgba(246, 250, 0, 0.856);
  --fonte: "Play", sans-serif;
}


.hide2{
  display: none;
  
  }
  
  .modalCadastrar{
      cursor: pointer;
  }

.logo {
  width: 150px;
  margin: 20px 20px;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
  overflow-x: hidden;
}

.contato {
  background-color: rgb(12, 12, 12);
  height: 20vh;
  color: var(--amarelo);
  font-family: var(--fonte);
}

.contato i {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--amarelo);
}

a {
  text-decoration: none;
  color: var(--amarelo);
}

#search {
  font-size: 20px;
  color: rgb(43, 43, 43);
}

header {
  color: whitesmoke;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte);
  height: 5vh;
  margin-top: -5px;
  height: 2.5rem;
  gap: 3rem;
}

ul{
	display: flex;
	width: 100%;
	height: 80vh;
	margin: auto;
	max-width: 1000px;
	justify-content: center;
	text-align: center;
}
li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
	margin: auto;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 var(--amarelo);
	font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}

.pesquisar {
  width: 30%;
  border-radius: 0.5rem;
}

#modal {
  display: flex;
  flex-direction: column;
  background-color: var(--amarelo);
  width: 20vw;
  height: 22vh;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(8, 8, 8);
}

#modal .inputs {
  font-family: var(--fonte);
  display: flex;
  padding: 1vh;
}

#modal .inputs input {
  width: 100%;
  margin-left: 2vw;
  background: none;
  border: none;
  border-bottom: 1px solid #0d0d0d;
  outline: 0;

}

#modal label {
  color: #0c0c0c;
}

.botaoEnviar{
  display: flex;
  justify-content: flex-end;
}

.botaoEnviar button{
  width: 10vw;
  height: 4vh;
  margin-top: 1rem;
  border: 1px solid var(--amarelo);
  background-color: rgb(104, 104, 104);
  font-family: var(--fonte);
  cursor: pointer;
  border-radius: 2px;
  color: var(--amarelo);
}

#fade,
#modal {
  opacity: 1;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #30303033;
  z-index: 5;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}


#abrirModal {
  cursor: pointer;
}

#pesquisarMobile {
  display: none;
}
#iconeMenu {
  display: none;
}
#container,
#container1 {
  display: none;
}

#container,
#container1 {
  opacity: 1;
}

#container.hide,
#container1.hide {
  opacity: 0;
  pointer-events: none;
}


.cadastro{
  
  color: var(--amarelo);
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 1vh;
  border: 1px solid var(--amarelo);
  padding: 2vw;
  border-radius: 4px;
  box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.493);
  margin-top: 1rem;
  }


.cadastro input{

    background: none;
  border: none;
  border-bottom: 1px solid var(--amarelo);
  outline: 0;
  color: white;

}

.cadastro h1{
margin-top: 2vh;
  display: flex;
justify-content: center;

}

.btnCadastro{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.btnCadastro button{
  width: 10vw;
  height: 4vh;
  margin-top: 1rem;
  border: 1px solid var(--amarelo);
  background-color: rgb(104, 104, 104);
  font-family: var(--fonte);
  cursor: pointer;
  border-radius: 2px;
  color: var(--amarelo);
}

.cadastro button:hover{
color: white

}


/* Aplicação das medidas adaptativas */

@media screen and (max-width: 600px) {
  #menuBotoes {
    display: none;
  }
  #itemMenuMobile {
    display: none;
  }

  #pesquisarMobile {
    margin: 1vh 20vh auto;
    margin-bottom: 2rem;
    display: block;
    width: 160vw;
    height: 2vh;
  }

  .divImagem {
    position: absolute;
    left: 0;
  }

  .div-login {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
  }
}
